.indexBody {
  background-image: url(../assets/peroKalimeroUnsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.mainBox{
  background-color: $gray;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 5%;  
  width: 50%;
  border-radius: 20px;
  box-shadow: 0px 0px 20px rgba($color: white, $alpha: 0.5);
  main{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
}


.locationForm,
.locationForm2{
  display:flex;
  flex-direction: column;
  align-items: center;
}

.locationForm{
  width: 80%;
}

.locationInput,
.locationInput2{
  font-family: $bodyFont, sans-serif;
  font-style: italic;
  letter-spacing: 1px;
  height: 50px;
  width: 100%;
  padding: 15px;
  border: none;
  border-radius: 20px;
  box-shadow: 0px 0px 20px rgba($color: $yellow, $alpha: 0.7);
}

.locationInput:focus,
.locationInput2:focus{
  background-color: $yellow;
  outline:none;
  box-shadow: 0px 0px 20px rgba($color: white, $alpha: 0.7);
}

.letsGo,
.nextCity,
.nextCityButton {
  font-family: $bodyFont;
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
  text-shadow: 0 3px 3px rgb(58, 58, 58);
  color: white;
  background-color: $blue;
  padding: 10px 20px;
  margin: 20px 0;
  border: 5px solid $blue;
  border-radius: 20px;
  box-shadow: 0 5px 5px rgb(58, 58, 58);
  transition: all 0.4s ease-out;
};

.letsGo:hover,
.letsGo:focus,
.nextCity:hover,
.nextCity:focus,
.nextCityButton:hover,
.nextCityButton:focus{
  color: $blue;
  background-color: white;
  cursor: pointer;
}

.gifHeading{
  color: $yellow;
}