// media queries

@media (max-width: 812px) {
  .indexBody {
    h1 {
      font-size: 40px;
      font-weight: 700;
    }
    .letsGo {
      padding: 8px 15px;
      font-size: 30px;
    }
  }

  .mainBox {
    width: 75%;
  }
}




@media (max-width: 768px) {

  h3,
  h4 {
    margin: 10px 0;
  }

  .mainBox{
    width: 70%;
  }

  .weatherBody {
    flex-direction: column;
    align-items: center;
  }

  .weatherColumn {
    background-image: linear-gradient(to right, $darkGray, $blue2);
    flex-direction: row;
    max-width: none;
    width: 98%;
    margin: 0 0 2% 0;
    div {
      margin: 1% 0;
    }
    .weatherWrapper {
      width: 100%;
    }
  }

  .weatherWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

  }

  .weatherTop {
    display: flex;
    div {
      margin: 0 3px;
    }
  }

  .gifAndDates {
    display: flex;
    width: 40%;
    flex-direction: column;
    align-items: center;
  }

  .dates {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

  .dateName {
    margin: 0;
  }

  

  .gifArea {
    max-width: 150px;
  }


  footer a {
    text-align: center;
  }

  .activity {
    padding: 1%;
    img {
      height: 50px;
      width: 50px;
    }
  }


}


@media (max-width: 500px) {
  .mainBox {
    width: 80%;
  }
  
  .locationForm2{
    width: 75%;
  }

  .weatherWrapper {
    flex-direction: column;
  }
  
  .gifAndDates {
    width: 100%;
  }

  .weatherColumn .gifArea {
    max-width: none;
    height: 100px;
  }


}