

main {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
}



.weatherColumn {
    background-color: $gray;
    display: flex;
    flex-direction: column;
    img {
        max-height: 100px;
    }
}

.activity {
    background-color: rebeccapurple;
    height: 100px;
}

.weatherBody{
    background: linear-gradient(270deg, #7a7974, #61afee, #fbfbfb);
    background-size: 600% 600%;

    -webkit-animation: AnimationName 33s ease infinite;
    -moz-animation: AnimationName 33s ease infinite;
    animation: AnimationName 33s ease infinite;
}



@-webkit-keyframes AnimationName {
    0%{background-position:0% 52%}
    50%{background-position:100% 49%}
    100%{background-position:0% 52%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 52%}
    50%{background-position:100% 49%}
    100%{background-position:0% 52%}
}
@keyframes AnimationName {
    0%{background-position:0% 52%}
    50%{background-position:100% 49%}
    100%{background-position:0% 52%}
}



