.locationForm2 {
  width: 50%;
  margin: 0 auto;
};

.weatherPage {
  background: linear-gradient(270deg, #7a7974, #61afee, #fbfbfb);
  background-size: 600% 600%;

  -webkit-animation: AnimationName 33s ease infinite;
  -moz-animation: AnimationName 33s ease infinite;
  animation: AnimationName 33s ease infinite;
};

.hideWeather {
  display: none;
};

.weatherBody {
  text-shadow: 0 3px 3px rgb(58, 58, 58);
  color: white;
  display: flex;
  justify-content: space-evenly;
  // Background animation
  background: -webkit-gradient(
    linear,
    right top,
    left top,
    from(#7a7974),
    color-stop(#61afee),
    to(#fbfbfb)
  );
  background: linear-gradient(270deg, #7a7974, #61afee, #fbfbfb);
  background-size: 600% 600%;
  -webkit-animation: AnimationName 33s ease infinite;
  animation: AnimationName 33s ease infinite;
}

@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 52%;
  }
  50% {
    background-position: 100% 49%;
  }
  100% {
    background-position: 0% 52%;
  }
}

@keyframes AnimationName {
  0% {
    background-position: 0% 52%;
  }
  50% {
    background-position: 100% 49%;
  }
  100% {
    background-position: 0% 52%;
  }
}

.weatherColumn {
  font-family: $bodyFont, sans-serif;
  background-image: linear-gradient($darkGray, $blue2);
  height: 100%;
  width: 100%;
  max-width: 350px;
  margin: 0 1%;
  border-radius: 20px;
  .weatherWrapper {
    width: 95%;
  };
  .gifArea {
    height: 150px;
    width: 100%;
  };
  img {
    object-fit: cover;
    height: 100%;
    width: 100%;
  };
};

.weatherWrapper {
  text-align: center;
  margin: 1% auto;
};


h2 {
  font-family: $headerFont, sans-serif;
};

h3,
h4 {
  font-family: $headerFont, sans-serif;
  text-transform: uppercase;
  color: $yellow;
};

.dateName {
  color: white;
};

p::before {
  font-family: "Font Awesome 5 Free";
  display: inline-block;
  padding-right: 3px;
  vertical-align: middle;
  font-weight: 900;
};

.dayRain::before,
.nightRain::before {
  content: "\f740";
};
.daySnow::before,
.nightSnow::before {
  content: "\f2dc";
};
.dayIce::before,
.nightIce::before {
  content: "\f7ad";
};
.dayWind::before,
.nightWind::before {
  content: "\f72e";
};

.temperatures {
  text-transform: uppercase;
};

.tempMax,
.tempMin {
  text-align: center;
  display: flex;
  justify-content: center;
};


.activity {
  padding: 10%;
  margin-top: 10%;
  h3 {
    margin: 0;
  };
  img {
    height: 50px;
    width: 50px;
    margin: 0 auto;
  }
};

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 5%;
};

button {
  margin: 0 auto;
};

