@import "setup";

// colour variables
$blue: #8093f1;
$yellow: #FAFF81;
$header-font: "raleway";
$body-font: "barlow";


// both page styling
h1{
  font-family: $header-font;
  font-size: 50px;
  font-weight: 400;
  color: $blue;
  text-transform: uppercase;
  text-shadow: 0 5px 5px rgb(58, 58, 58);
}

a{
  text-decoration: none;
}

p,
a{
  font-family: $body-font
}



@import "home";