@import "setup";

// colour variables
$blue: #8093f1;
$blue2: #8093f11f;
$yellow: #faff81;
$gray: rgb(158, 156, 156);
$darkGray: rgb(119, 124, 155);
$headerFont: "Raleway";
$bodyFont: "Barlow";

// General page styling
body {
  max-width: 3500px;
  margin: 0 auto;
}

h1,
h2,
h3 {
  text-align: center;
};

h1 {
  font-family: $headerFont, sans-serif;
  font-size: 50px;
  font-weight: 400;
  text-shadow: 0 5px 5px rgb(58, 58, 58);
  text-transform: uppercase;
  color: $blue;
  padding-top: 3%;
  margin-top: 0;
};


h4 {
  margin-bottom: 10px;
};

img {
  display: block;
  border-radius: 20px;
};


a {
  text-decoration: none;
};

p,
a {
  font-family: $bodyFont, sans-serif;
};

p {
  font-size: 16px;
  margin: 5px 0 0 0;
};

footer {
  p {
    font-weight: 500;
    text-shadow: 0 1px 1px rgb(58, 58, 58);
    color: rgb(156, 102, 102);
    background-color: white;
    border-radius: 20px;
    padding: 10px;
    box-shadow: 0 2px 2px rgb(58, 58, 58);
  };
  a {
    font-weight: 500;
    text-shadow: 0 1px 1px rgb(58, 58, 58);
    color: $blue;
    transition: color 0.4s ease-out;
  };
  a:hover,
  a:focus{
    color: black;
  };
};

div.hide{
  display: none;
};

div.show{
  display: block;
};

div.indexShow{
  display: flex;
}



@import "home";
@import "weather";
@import "mediaQueries";