@import "setup";

// colour variables
$blue: #8093f1;
$yellow: #faff81;
$header-font: "raleway";
$body-font: "barlow";

// both page styling
h1 {
  font-family: $header-font;
  font-size: 50px;
  font-weight: 400;
  color: $blue;
  text-transform: uppercase;
  text-shadow: 0 5px 5px rgb(58, 58, 58);
}

a {
  text-decoration: none;
}

p,
a {
  font-family: $body-font;
}

footer {
  p {
    background-color: white;
    color: rgb(158, 156, 156);
    border-radius: 20px;
    padding: 10px;
    box-shadow: 0 2px 2px rgb(58, 58, 58);
    text-shadow: 0 1px 1px rgb(58, 58, 58);
    font-weight: 500;
  }
  a {
    color: $blue;
    font-weight: 500;
    text-shadow: 0 1px 1px rgb(58, 58, 58);
    transition: color 0.4s ease-out;
  }
  a:hover,
  a:focus{
    color: black;
  }
}

@import "home";
