@charset "UTF-8";
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.srOnly {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  max-width: 3500px;
  margin: 0 auto;
}

h1,
h2,
h3 {
  text-align: center;
}

h1 {
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  font-weight: 400;
  text-shadow: 0 5px 5px #3a3a3a;
  text-transform: uppercase;
  color: #8093f1;
  padding-top: 3%;
  margin-top: 0;
}

h4 {
  margin-bottom: 10px;
}

img {
  display: block;
  border-radius: 20px;
}

a {
  text-decoration: none;
}

p,
a {
  font-family: "Barlow", sans-serif;
}

p {
  font-size: 16px;
  margin: 5px 0 0 0;
}

footer p {
  font-weight: 500;
  text-shadow: 0 1px 1px #3a3a3a;
  color: #9c6666;
  background-color: white;
  border-radius: 20px;
  padding: 10px;
  -webkit-box-shadow: 0 2px 2px #3a3a3a;
          box-shadow: 0 2px 2px #3a3a3a;
}
footer a {
  font-weight: 500;
  text-shadow: 0 1px 1px #3a3a3a;
  color: #8093f1;
  -webkit-transition: color 0.4s ease-out;
  transition: color 0.4s ease-out;
}
footer a:hover,
footer a:focus {
  color: black;
}

div.hide {
  display: none;
}

div.show {
  display: block;
}

div.indexShow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.indexBody {
  background-image: url(../assets/pero-kalimero-9BJRGlqoIUk-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
}

.mainBox {
  background-color: #9e9c9c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5%;
  width: 50%;
  border-radius: 20px;
  -webkit-box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.5);
          box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.5);
}
.mainBox main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.locationForm,
.locationForm2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.locationForm {
  width: 80%;
}

.locationInput,
.locationInput2 {
  font-family: "Barlow", sans-serif;
  font-style: italic;
  letter-spacing: 1px;
  height: 50px;
  width: 100%;
  padding: 15px;
  border: none;
  border-radius: 20px;
  -webkit-box-shadow: 0px 0px 20px rgba(250, 255, 129, 0.7);
          box-shadow: 0px 0px 20px rgba(250, 255, 129, 0.7);
}

.locationInput:focus,
.locationInput2:focus {
  background-color: #faff81;
  outline: none;
  -webkit-box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.7);
          box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.7);
}

.letsGo,
.nextCity,
.nextCityButton {
  font-family: "Barlow";
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
  text-shadow: 0 3px 3px #3a3a3a;
  color: white;
  background-color: #8093f1;
  padding: 10px 20px;
  margin: 20px 0;
  border: 5px solid #8093f1;
  border-radius: 20px;
  -webkit-box-shadow: 0 5px 5px #3a3a3a;
          box-shadow: 0 5px 5px #3a3a3a;
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}

.letsGo:hover,
.letsGo:focus,
.nextCity:hover,
.nextCity:focus,
.nextCityButton:hover,
.nextCityButton:focus {
  color: #8093f1;
  background-color: white;
  cursor: pointer;
}

.gifHeading {
  color: #faff81;
}

.locationForm2 {
  width: 50%;
  margin: 0 auto;
}

.weatherPage {
  background: -webkit-gradient(linear, right top, left top, from(#7a7974), color-stop(#61afee), to(#fbfbfb));
  background: linear-gradient(270deg, #7a7974, #61afee, #fbfbfb);
  background-size: 600% 600%;
  -webkit-animation: AnimationName 33s ease infinite;
  animation: AnimationName 33s ease infinite;
}

.hideWeather {
  display: none;
}

.weatherBody {
  text-shadow: 0 3px 3px #3a3a3a;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background: -webkit-gradient(linear, right top, left top, from(#7a7974), color-stop(#61afee), to(#fbfbfb));
  background: linear-gradient(270deg, #7a7974, #61afee, #fbfbfb);
  background-size: 600% 600%;
  -webkit-animation: AnimationName 33s ease infinite;
  animation: AnimationName 33s ease infinite;
}

@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 52%;
  }
  50% {
    background-position: 100% 49%;
  }
  100% {
    background-position: 0% 52%;
  }
}
@keyframes AnimationName {
  0% {
    background-position: 0% 52%;
  }
  50% {
    background-position: 100% 49%;
  }
  100% {
    background-position: 0% 52%;
  }
}
.weatherColumn {
  font-family: "Barlow", sans-serif;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#777c9b), to(#8093f11f));
  background-image: linear-gradient(#777c9b, #8093f11f);
  height: 100%;
  width: 100%;
  max-width: 350px;
  margin: 0 1%;
  border-radius: 20px;
}
.weatherColumn .weatherWrapper {
  width: 95%;
}
.weatherColumn .gifArea {
  height: 150px;
  width: 100%;
}
.weatherColumn img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
}

.weatherWrapper {
  text-align: center;
  margin: 1% auto;
}

h2 {
  font-family: "Raleway", sans-serif;
}

h3,
h4 {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  color: #faff81;
}

.dateName {
  color: white;
}

p::before {
  font-family: "Font Awesome 5 Free";
  display: inline-block;
  padding-right: 3px;
  vertical-align: middle;
  font-weight: 900;
}

.dayRain::before,
.nightRain::before {
  content: "";
}

.daySnow::before,
.nightSnow::before {
  content: "";
}

.dayIce::before,
.nightIce::before {
  content: "";
}

.dayWind::before,
.nightWind::before {
  content: "";
}

.temperatures {
  text-transform: uppercase;
}

.tempMax,
.tempMin {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.activity {
  padding: 10%;
  margin-top: 10%;
}
.activity h3 {
  margin: 0;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 5%;
}

button {
  margin: 0 auto;
}

@media (max-width: 812px) {
  .indexBody h1 {
    font-size: 40px;
    font-weight: 700;
  }
  .indexBody .letsGo {
    font-size: 30px;
    padding: 8px 15px;
  }

  .mainBox {
    width: 75%;
  }
}
@media (max-width: 768px) {
  h3,
h4 {
    margin: 10px 0;
  }

  .mainBox {
    width: 70%;
  }

  .weatherBody {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .weatherColumn {
    background-image: -webkit-gradient(linear, left top, right top, from(#777c9b), to(#8093f11f));
    background-image: linear-gradient(to right, #777c9b, #8093f11f);
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 98%;
    max-width: none;
    margin: 0 0 2% 0;
  }
  .weatherColumn div {
    margin: 1% 0;
  }
  .weatherColumn .weatherWrapper {
    width: 100%;
  }

  .weatherWrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .weatherTop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .weatherTop div {
    margin: 0 3px;
  }

  .gifAndDates {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 40%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .dates {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 100%;
  }

  .dateName {
    margin: 0;
  }

  .gifArea {
    max-width: 150px;
  }

  footer a {
    text-align: center;
  }

  .activity {
    padding: 1%;
  }
  .activity img {
    height: 50px;
    width: 50px;
  }
}
@media (max-width: 500px) {
  .mainBox {
    width: 80%;
  }

  .locationForm2 {
    width: 75%;
  }

  .weatherWrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .gifAndDates {
    width: 100%;
  }

  .weatherColumn .gifArea {
    max-width: none;
    height: 100px;
  }
}